:root {
	--titleFontSize: 48px;
	--gigaFontSize: 70px;
	--releaseSubtitleFontSize: 30px;
	--releaseTextFontSize: 24px;
	--subTitleFontSize: 35px;
	--defaultFontSize: 20px;
	--blackFontWeight: 900;
	--extraBoldFontWeight: 800;
	--boldFontWeight: 700;
	--semiBoldFontWeight: 600;
	--mediumFontWeight: 500;
	--regularFontWeight: 400;
	--lightFontWeight: 300;
	--extralightFontWeight: 200;
	--thinFontWeight: 100;
	--redColor: #CA2332;
	--grayColor: #666;
	--greenColor: #00ACAF;
	--lightGreenColor: #E6F4F1;
	--darkGreenColor: #005459;
	--darkGrayColor: #0E2F44;
	--mediumGrayColor: #eeeeee;
	--lightGrayColor: #f5f5f5;
	--btnGradient: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	--greenGradient: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}


body, html {
	scroll-behavior: smooth;
}

html, body, div, input, p, span, h1, h2, h3, h4, h5, ul, li, header, section, select, article, button, a, textarea {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	background: transparent;
	/*font-family: 'Nunito Sans', sans-serif;*/
	font-family: 'Catamaran', sans-serif;
	font-weight: var(--regularFontWeight);
	font-size: var(--defaultFontSize);
	text-decoration: none;
	transition: 0.5s ease all;
}

 p, span, h1, h2, h3, h4, h5 {
 	color: var(--greenColor);
 }

amp-img {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	background-color: transparent;
}

button, a, input[type="submit"] {
	cursor: pointer;
}






.boxModel {
	position: relative;
	box-sizing: border-box;
	display: block;
}

.boxModelFlex {
	position: relative;
	box-sizing: border-box;
	display: flex;
}

.boxModelGrid {
	position: relative;
	box-sizing: border-box;
	display: grid;
}








/* unvisited link */
a:link {
  color: var(--greenColor);
}

/* visited link */
a:visited {
  color: var(--greenColor);
}

/* mouse over link */
a:hover {
  color: var(--redColor);
}

/* selected link */
a:active {
  color: var(--redColor);
}
































.contentBlocks .block {
	width: 100px;
	height: 100px;
}

.contentBlocks .block:nth-of-type(1) {
	background: var(--redColor);
}
.contentBlocks .block:nth-of-type(2) {
	background: var(--grayColor);
}
.contentBlocks .block:nth-of-type(3) {
	background: var(--greenColor);
}
.contentBlocks .block:nth-of-type(4) {
	background: var(--lightGreenColor);
}
.contentBlocks .block:nth-of-type(5) {
	background: var(--mediumGrayColor);
}
.contentBlocks .block:nth-of-type(6) {
	background: var(--lightGrayColor);
}
.contentBlocks .block:nth-of-type(7) {
	background: var(--btnGradient);
}
.contentBlocks .block:nth-of-type(8) {
	background: var(--greenGradient);
}
.contentBlocks .block:nth-of-type(9) {
	background: var(--darkGrayColor);
}


.textEx:nth-of-type(1) {
	font-size: var(--titleFontSize);
}
.textEx:nth-of-type(2) {
	font-size: var(--gigaFontSize);
}
.textEx:nth-of-type(3) {
	font-size: var(--releaseSubtitleFontSize);
}
.textEx:nth-of-type(4) {
	font-size: var(--releaseTextFontSize);
}
.textEx:nth-of-type(5) {
	font-size: var(--subTitleFontSize);
}
.textEx:nth-of-type(6) {
	font-size: var(--defaultFontSize);
	margin-bottom: 60px;
}
.textEx:nth-of-type(7) {
	font-weight: var(--thinFontWeight);
	font-size: var(--titleFontSize);
}
.textEx:nth-of-type(8) {
	font-weight: var(--extraBoldFontWeight);
	font-size: var(--titleFontSize);
}
.textEx:nth-of-type(9) {
	font-weight: var(--boldFontWeight);
	font-size: var(--titleFontSize);
}
.textEx:nth-of-type(10) {
	font-weight: var(--semiBoldFontWeight);
	font-size: var(--titleFontSize);
}
.textEx:nth-of-type(11) {
	font-weight: var(--mediumFontWeight);
	font-size: var(--titleFontSize);
}
.textEx:nth-of-type(12) {
	font-weight: var(--regularFontWeight);
	font-size: var(--titleFontSize);
}
.textEx:nth-of-type(13) {
	font-weight: var(--lightFontWeight);
	font-size: var(--titleFontSize);
}
.textEx:nth-of-type(14) {
	font-weight: var(--extralightFontWeight);
	font-size: var(--titleFontSize);
}
.textEx:nth-of-type(15) {
	font-weight: var(--thinFontWeight);
	font-size: var(--titleFontSize);
}
























/*div container*/
.content {
	/*overflow-x: hidden;*/
	max-width: 2000px;
	width: 100%;
	margin: 0 auto;
	flex-direction: column;
	background: transparent;
}









.headerMenu {
	width: 100%;
	align-items: center;
	justify-content: space-around;
	padding: 30px;
	flex-wrap: wrap;
	/*background-color: rgba(0,0,0,.4);*/
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	z-index: 10;
}

.headerMenu a span {
	text-transform: uppercase;
	color: #fff;
	opacity: 0.7;
	padding: 6px;
}


.headerMenu a span::after {
	width: 0%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0px;
	height: 4px;
	content: "";
	position: absolute;
	background-color: var(--redColor);
	transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.headerMenu a span:hover::after {
	width: 100%;
}

















.heroSection {
	grid-template-columns: 1fr 1.4fr;
	grid-template-rows: auto;
	/*grid-auto-rows: 1fr;*/
}

.heroSectionBg {
	background: url(img/bg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-origin: border-box;
	clip-path: polygon(0 0, 100% 0%, 100% 80%, 25% 100%, 0 73%);
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 25% 100%, 0 73%);
	height: 90vh;
	grid-column: 1 / -1;
	grid-row: 1 / 5;
}



.logoFusaoWrapper {
	/*height: 500px;*/
	align-items: center;
	justify-content: center;
	grid-column: 1 / 2;
	grid-row: 2 / 6;
	align-self: center;
	justify-self: center;
	top: -100px;
	left: 30px;
}

.heroTexts {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	grid-column: 2 / -1;
	grid-row: 2 / 6;
	margin-top: 30px;
}

.headerSvg {
	width: 100%;
	height: 100%;
}





























.logos3Wrapper{flex-direction:column;justify-content:center;align-items:center}
.logos3Container{display:flex;justify-content:center;align-items:center;box-sizing:border-box;filter:drop-shadow(0px 0px 30px rgba(0,0,0,0.2));width:566px;height:270px;margin:0 auto;background-color:#fff;border-radius:80px 19px 80px 19px}
.logosSvg{position:absolute;left:50%;top:-40px;transform:translateX(-50%);width:500px;filter:drop-shadow(0px 10px 10px rgba(0,0,0,0.2))}
.logos3Text{position:absolute;display:block;color:var(--greenColor);width:100%}
.logos3Text p{font-size:20px;text-align:center}
.logoiMaxWrapper{position:absolute;display:flex;flex-direction:row;justify-content:center;align-items:center;box-sizing:border-box;width:385px;height:200px;padding:10px;background-color:#fff;left:50%;transform:translateX(-50%);bottom:-100px;border-radius:10px;box-shadow:0 10px 50px 0 rgba(0,0,0,0.2);z-index:100}































.section2 {
	margin: 70px 5vw 0 5vw;
	grid-template-columns: 1.6fr 1fr;
	grid-column-gap: 30px;
	max-width: 1800px;

}

.section2img {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	align-items: center;
	justify-content: center;
}

.section2img amp-img {
	width: 100%;
	justify-self: center;
	align-self: center;
	max-width: 1000px;
	z-index: 10;
}


.section2img svg {
	justify-self: center;
	align-self: end;
	max-width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.section2 p {
	font-size: var(--releaseTextFontSize);
	color: var(--darkGreenColor);
	max-width: 1500px;
	align-self: center;
	text-align: justify;
}



























.section3 {
	grid-template-columns: repeat(2, 1fr);
	margin-top: 160px;
	background: url(img/17580.jpg), linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6));
	background-size: cover;
	background-origin: border-box;
	background-repeat: no-repeat;
	background-position: center center;
	background-blend-mode: overlay;
	padding-bottom: 150px;
}


/*.section3 svg:nth-of-type(1) {
	width: 100%;
	grid-column: 1 / -1;
	grid-row: 1 / 2;
}
*/

/*.section3 svg {
	width: 100%;
	grid-column: 2 / -1;
	grid-row: 3 / 4;
}*/


.sectionsHeader {
	background-color: var(--greenColor);
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	grid-template-columns: 300px 1fr;
	padding: 20px;
}


.sectionsHeader amp-img {
	width: 300px;
	height: auto;
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	grid-column: 1 / 2;
}

.sectionsHeader h1 {
	color: #fff;
	font-size: var(--titleFontSize);
	font-weight: var(--boldFontWeight);
	align-self: center;
	text-align: center;
	grid-column: 2 / -1;
}


.sectionsHeader h2 {
	color: #fff;
	font-size: var(--releaseSubtitleFontSize);
	font-weight: var(--regularFontWeight);
	align-self: center;
	text-align: center;
	grid-column: 2 / -1;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	line-height: 1.3;
}


#svgIconTwoAnime {
	grid-column: 2 / -1;
	grid-row: 2 / 3;
	width: 90%;
	align-self: center;
}




.sectionListWrapper {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	align-self: center;
	justify-self: center;
	width: 90%;
	grid-row-gap: 60px;
	margin-top: 60px;
}


.sectionListWrapper h3 {
	font-size: var(--releaseSubtitleFontSize);
	color: var(--redColor)
}


.listItemWrapper {
	grid-template-columns: auto 1fr;
	justify-content: center;
	align-items: center;
	grid-column-gap: 30px;
}

.listItemWrapper p {
	text-align: justify;
	color: var(--darkGrayColor);
}

.sectionListUnitNumber {
	align-items: center;
	flex-direction: column;
	width: 200px;
	background-color: var(--darkGrayColor);
	border-radius: 5px;
	padding: 10px 0;
	z-index: 5;
}


.sectionListUnitNumber::before {
	content: "";
	width: 50px;
	height: 50px;
	position: absolute;
	right: -10px;
	background-color: var(--darkGrayColor);
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	z-index: -1;
}


.sectionListUnitNumber h1 {
	font-size: 120px;
	font-weight: var(--extraBoldFontWeight);
	margin-right: 7px;
	line-height: 0.7;
	margin-bottom: 20px;
	color: var(--redColor);
	filter: drop-shadow(0 5px 10px black);
}



.sectionListUnitNumber h2 {
	font-size: var(--releaseTextFontSize);
	font-weight: var(--boldFontWeight);
	line-height: 1;
	text-align: center;
}























































.section4 {
	grid-template-columns: repeat(2, 1fr);
	background: url(img/17580a.jpg), linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6));
	background-size: cover;
	background-origin: border-box;
	background-repeat: no-repeat;
	background-position: center center;
	background-blend-mode: overlay;
	padding-bottom: 150px;
}




#svgIconThreeAnime {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	align-self: center;
}


.section4 .sectionsHeader {
	background-color: var(--redColor);
}





.section4 .sectionListWrapper {
	grid-column: 2 / -1;
}









































































.section5 {
	grid-template-columns: repeat(2, 1fr);
	background: url(img/17580.jpg), linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6));
	background-size: cover;
	background-origin: border-box;
	background-repeat: no-repeat;
	background-position: center center;
	background-blend-mode: overlay;
	padding-bottom: 150px;
}



#svgIconFourAnime {
	justify-self: center;
	align-self: center;
}

















































.section6 {
	grid-template-columns: repeat(2, 1fr);
	background: url(img/17580a.jpg), linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6));
	background-size: cover;
	background-origin: border-box;
	background-repeat: no-repeat;
	background-position: center center;
	background-blend-mode: overlay;
	padding-bottom: 150px;
}




.section6 .sectionsHeader {
	background-color: var(--redColor);
}




.section6 .sectionListWrapper {
	grid-column: 2 / -1;
}






















.sectionVideos {
	grid-template-columns: repeat(4, 1fr);
	background-color: var(--greenColor);
	grid-gap: 40px;
	padding: 20px 5vw 60px 5vw;
}


.sectionVideos h1 {
	grid-column: 1 / -1;
	text-align: center;
	font-size: var(--subTitleFontSize);
	color: #fff;
	font-weight: var(--semiBoldFontWeight);
	padding-top: 30px;
}

.sectionVideos h3 {
	color: #fff;
	text-align: center;
	font-size: var(--releaseTextFontSize);
	font-weight: var(--mediumFontWeight);
}

.videoUnitWrapper {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 30px var(--darkGreenColor);
	padding: 20px;
	border-radius: 5px;
}


.videoUnitWrapper svg {
	fill: var(--redColor);
}


.assistirBtn {
	/*background-color: var(--darkGreenColor);*/
	padding: 5px 8px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}



















.videoLightbox {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	z-index: 999;
}



.videoLightboxWrapper {
	background-color: #fff;
	width: 90%;
	max-width: 900px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	border-radius: 5px;
	box-shadow: 0 0 50px black;
	padding: 20px;
}


.videoLightboxCloseBtn {
	padding: 20px;
	position: absolute;
	z-index: 2;
	right: -18px;
	top: -50px;
	cursor: pointer;
}


.videoLightboxWrapper amp-youtube {
	width: 100%;
}

























footer{box-sizing:border-box;position:relative;display:grid;grid-template-columns:repeat(2,1fr);grid-template-rows:auto auto auto;background-color:var(--darkGrayColor);padding:60px 5vw 0;z-index:1;}
.footerWrapper{position:relative;display:flex;flex-direction:column;flex-wrap:nowrap;grid-column:1 / 2;grid-row:1 / 3;box-sizing:border-box}
.footerWrapper span,.footerLinksWrapper span,.footerForm span{font-size:18px;color:#eee2df;font-weight:300}
.footerContatosWrapper{grid-template-columns: 55px 1fr;align-items:center;margin-top: 20px;}
.footerContatosWrapper p{text-align:left;color:#eee2df;grid-column: 2 / -1; grid-row: 1 / 2}
.footerTelIcon,.footerGpsIcon,.footerTimeIcon,.footerContatoImprensaSvg,.footerSendIconSvg{width:50px;grid-column: 1 / 2;grid-row: 1 / 2}
.footerLinksWrapper{position:relative;display:block;box-sizing:border-box;grid-column:2 / 3;grid-row:1 / 2}
.footerLinksWrapper a{position:relative;display:flex;flex-direction:row;flex-wrap:nowrap;align-items:center;color:#eee2df;padding-left:10px;transition:.3s ease all}
.footerLinksWrapper a:hover{background-image:linear-gradient(90deg,rgba(33,101,131,1) 23.9%,rgba(33,101,131,0) 90%)}
.linkExternal{width:30px}
.footerForm{position:relative;display:flex;box-sizing:border-box;flex-wrap:nowrap;flex-direction:column;align-items:center;grid-column: 2 / -1;grid-row: 1 / 2;max-width: 500px;width: 100%;justify-self: center}
.footerForm button{flex-direction:row;flex-wrap:nowrap;align-items:center;justify-content:center;width:100px;margin-top:20px;border-radius:6px;border:none;background-color:var(--greenColor);cursor:pointer;transition:.3s ease all;padding: 5px 10px}
.footerForm button:hover{background-color:#fff}
.footerForm button span{font-weight:300;color:#333;font-size:20px}
.footerForm svg{position:relative;display:block;left:-5px}
.footerForm input,.footerForm textarea{position:relative;display:block;width:100%;box-sizing:border-box;padding:10px;border-radius:9px;border:none;background-color:rgba(0,0,0,.2);color:#eee2df;font-family:'Cairo',sans-serif;font-size:18px;margin:10px;resize:none}
.footerMidias{position:relative;display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:center;box-sizing:border-box;padding:30px;grid-column: 2 / -1;grid-row: 2 / 3}
.footerMidias a{position:relative;display:block}
.footerMidias a svg:hover{box-shadow:0 0 60px rgba(0,172,175,.8)}
.footerMidias a svg{position:relative;display:block;width:60px;margin:20px;transition:.3s ease all}
.FooterCopy{position:relative;display:block;grid-column:1 / 5;grid-row:3 / 4;align-self:center;text-align:center;margin-top:50px;padding-bottom:30px}
.newsletterCheck{margin:auto;padding:20px 0}













































/*aminações svgs header*/

@keyframes inOut {
	50% {
		transform: scale(1.02);
	}
}

@keyframes inOutOne {
	50% {
		transform: scale(1.3);
	}
}


@keyframes float {
	50% {
		transform: translateY(10px);
	}
}

@keyframes floatTwo {
	50% {
		transform: translateY(30px);
	}
}


@keyframes floatThree {
	50% {
		transform: translateY(10%);
	}
}

@keyframes floatLeft {
	50% {
		transform: translateX(10px);
	}
}


@keyframes floatOne {
	50% {
		transform: translateY(-10px);
	}
}

@keyframes floatLow {
	50% {
		transform: translateY(5px);
	}
}

@keyframes herArmRotate {
	50% {
		transform: rotate(30deg);
	}
}

@keyframes totalRotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes himArmRotate {
	50% {
		transform: rotate(20deg);
	}
}

@keyframes floatZoom {
	50% {
		transform: translateY(-10px) translateX(-10px) scale(1.2);
	}
}


@keyframes rotateHead {
	50% {
		transform: rotate(15deg);
	}
}


@keyframes rotateLegs {
	50% {
		transform: rotate(15deg);
	}
}


@keyframes rotateTorso {
	50% {
		transform: rotate(3deg);
	}
}

@keyframes rotateLeg {
	50% {
		transform: rotate(34deg);
	}
}


@keyframes rotateOne {
	50% {
		transform: rotate(14deg);
	}
}

@keyframes rotateOneReverse {
	50% {
		transform: rotate(-14deg);
	}
}


@keyframes rotateOneReverseLow {
	50% {
		transform: rotate(-7deg);
	}
}


@keyframes rotateTwo {
	50% {
		transform: rotate(14deg);
	}

	69% {
		transform: rotate(40deg);
	}
}


@keyframes rotateThree {
	50% {
		transform: rotate(20deg);
	}
}



.letterB,
.letterE,
.letterM,
.letterhifem,
.letterV1,
.letterI,
.letterN1,
.letterD,
.letterArroba,
.letterA1,
.letterO1,
.letterN2,
.letterO2,
.letterV2,
.letterO3 {
	animation-name: inOut;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
}




.letterB {
	animation-delay: 100ms
}
.letterE {
	animation-delay: 200ms
}
.letterM {
	animation-delay: 300ms
}
.letterhifem {
	animation-delay: 400ms
}
.letterV1 {
	animation-delay: 500ms
}
.letterI {
	animation-delay: 600ms
}
.letterN1 {
	animation-delay: 700ms
}
.letterD {
	animation-delay: 800ms
}
.letterArroba {
	animation-delay: 900ms
}
.letterA1 {
	animation-delay: 1000ms
}
.letterO1 {
	animation-delay: 1100ms
}
.letterN2 {
	animation-delay: 1200ms
}
.letterO2 {
	animation-delay: 1300ms
}
.letterV2 {
	animation-delay: 1400ms
}
.letterO3 {
	animation-delay: 1500ms
}


.janela1 {
	animation-name: float;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.janela2 {
	animation-name: float;
	animation-duration: 5s;
	animation-delay: 300ms;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}





.herArm {
	animation-name: herArmRotate;
	animation-duration: 4s;
	animation-delay: 300ms;
	animation-iteration-count: infinite;
	transform-origin: 10% 67%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



#ballon1 {
	animation-name: floatZoom;
	animation-duration: 10s;
	animation-delay: 300ms;
	animation-iteration-count: infinite;
	transform-origin: 31% 61%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#ballon2 {
	animation-name: floatZoom;
	animation-duration: 10s;
	/*animation-delay: 300ms;*/
	animation-iteration-count: infinite;
	transform-origin: 31% 61%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


#msg1 {
	animation-name: float;
	animation-duration: 4s;
	animation-delay: 300ms;
	animation-iteration-count: infinite;
	transform-origin: 31% 61%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


#msg2 {
	animation-name: floatLow;
	animation-duration: 6s;
	animation-delay: 300ms;
	animation-iteration-count: infinite;
	transform-origin: 31% 61%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}




.men2Head {
	transform: rotate(-5deg);
	animation-name: rotateHead;
	animation-duration: 5s;
	animation-delay: 300ms;
	animation-iteration-count: infinite;
	transform-origin: 67% 38%;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}




.men2Arm {
	transform: rotate(-5deg);
	animation-name: rotateHead;
	animation-duration: 7s;
	/*animation-delay: 300ms;*/
	animation-iteration-count: infinite;
	transform-origin: 63% 41%;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}



.men2Leg1 {
	transform: rotate(-5deg);
	animation-name: rotateLegs;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	transform-origin: 60% 49%;
	animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


.men2Leg2 {
	transform: rotate(-5deg);
	animation-name: rotateLegs;
	animation-duration: 4s;
	animation-delay: 600ms;
	animation-iteration-count: infinite;
	transform-origin: 65% 50%;
	animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}



#calculadora {
	animation-name: floatOne;
	animation-duration: 7s;
	animation-delay: 700ms;
	animation-iteration-count: infinite;
	transform-origin: 31% 61%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.menTorso {
	transform: rotate(-5deg);
	animation-name: rotateTorso;
	animation-duration: 10s;
	animation-delay: 600ms;
	animation-iteration-count: infinite;
	transform-origin: 79% 77%;
	animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}




.menHead {
	transform: rotate(-5deg);
	animation-name: rotateHead;
	animation-duration: 5s;
	animation-delay: 300ms;
	animation-iteration-count: infinite;
	transform-origin: 77% 60%;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}





#windowSvg3  {
	transform: translateY(110px);
	animation-name: floatTwo;
	animation-duration: 7s;
	animation-delay: 700ms;
	animation-iteration-count: infinite;
	transform-origin: 31% 61%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}




#playmobilTwoTorso {
	transform: rotate(-5deg);
	animation-name: rotateTorso;
	animation-duration: 10s;
	animation-delay: 600ms;
	animation-iteration-count: infinite;
	transform-origin: 44% 78%;
	animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}





#playmobilTwoArmOne {
	animation-name: himArmRotate;
	animation-duration: 7s;
	animation-delay: 300ms;
	animation-iteration-count: infinite;
	transform-origin: 42% 64%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}





#playmobilTwoArm {
	animation-name: himArmRotate;
	animation-duration: 3s;
	animation-delay: 600ms;
	animation-iteration-count: infinite;
	transform-origin: 48% 64%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}




#playmobilOneTorso {
	transform: rotate(-8deg);
	animation-name: rotateTorso;
	animation-duration: 6s;
	animation-delay: 200ms;
	animation-iteration-count: infinite;
	transform-origin: 67% 69%;
	animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}



#playmobilOneHead {
	transform: rotate(-5deg);
	animation-name: rotateHead;
	animation-duration: 4s;
	animation-delay: 300ms;
	animation-iteration-count: infinite;
	transform-origin: 69% 60%;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}




#playmobilOneArmTwo {
	/*transform: rotate(-5deg);*/
	animation-name: rotateHead;
	animation-duration: 7s;
	/*animation-delay: 300ms;*/
	animation-iteration-count: infinite;
	transform-origin: 70% 65%;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}



#playmobilOneArmOne {
	transform: rotate(-8deg);
	animation-name: rotateLeg;
	animation-duration: 6s;
	animation-delay: 200ms;
	animation-iteration-count: infinite;
	transform-origin: 67% 65%;
	animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}





#her3Torso {
	transform: rotate(-4deg);
	animation-name: rotateTorso;
	animation-duration: 10s;
	animation-delay: 200ms;
	animation-iteration-count: infinite;
	transform-origin: 17% 78%;
	animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}



#her3Head {
	transform: rotate(-5deg);
	animation-name: rotateHead;
	animation-duration: 5s;
	animation-delay: 300ms;
	animation-iteration-count: infinite;
	transform-origin: 14% 62%;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}




#her3Arm {
	/*transform: rotate(-5deg);*/
	animation-name: rotateOneReverse;
	animation-duration: 7s;
	animation-delay: 500ms;
	animation-iteration-count: infinite;
	transform-origin: 13% 64%;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}





#her4Torso {
	transform: rotate(-4deg);
	animation-name: rotateTorso;
	animation-duration: 3s;
	animation-delay: 200ms;
	animation-iteration-count: infinite;
	transform-origin: 85% 70%;
	animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}




#her4Head {
	animation-name: rotateHead;
	animation-duration: 5s;
	animation-delay: 300ms;
	animation-iteration-count: infinite;
	transform-origin: 86% 64%;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}



#her4ArmOne {
	transform: rotate(-18deg);
	animation-name: rotateTorso;
	animation-duration: 5s;
	animation-delay: 200ms;
	animation-iteration-count: infinite;
	transform-origin: 83% 65%;
	animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}









#windowSeven {
	animation-name: float;
	animation-duration: 5s;
	animation-delay: 300ms;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transform: translateY(20px);
}




#objOne {
	animation-name: float;
	animation-duration: 5s;
	animation-delay: 700ms;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	/*transform: translateY(20px);*/
}





#playmobilSixTorso {
	/*transform: rotate(-5deg);*/
	animation-name: rotateHead;
	animation-duration: 10s;
	animation-delay: 300ms;
	animation-iteration-count: infinite;
	transform-origin: 13% 74%;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}



#playmobilSixArmOne {
	transform: rotate(5deg);
	animation-name: rotateHead;
	animation-duration: 7s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 8% 56%;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}





#playmobilSixArm {
	transform: rotate(5deg);
	animation-name: rotateHead;
	animation-duration: 5s;
	/*animation-delay: 1000ms;*/
	animation-iteration-count: infinite;
	transform-origin: 15% 58%;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}





#playmobilSixHead {
	transform: rotate(-5deg);
	animation-name: rotateHead;
	animation-duration: 3s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 11% 53%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}





#herFiveTorso {
	/*transform: rotate(-5deg);*/
	animation-name: rotateOneReverse;
	animation-duration: 10s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 41% 64%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}






#herFiveArmOne {
	/*transform: rotate(-5deg);*/
	animation-name: rotateOneReverse;
	animation-duration: 6s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 47% 50%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}


#herFiveArmNote {
	transform: rotate(-5deg);
	animation-name: rotateHead;
	animation-duration: 4s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 43% 55%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}



#herFiveHead {
	transform: rotate(-5deg);
	animation-name: rotateHead;
	animation-duration: 10s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 43% 47%;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}



#herSixTorso {
	/*transform: rotate(5deg);*/
	animation-name: rotateHead;
	animation-duration: 13s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 57% 62%;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}



#herSixArmTwo {
	transform: rotate(-5deg);
	animation-name: rotateHead;
	animation-duration: 5s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 62% 53%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}



#herSixHead  {
	/*transform: rotate(-5deg);*/
	animation-name: rotateHead;
	animation-duration: 8s;
	animation-delay: 600ms;
	animation-iteration-count: infinite;
	transform-origin: 61% 47%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}








#herSixArmOne  {
	/*transform: rotate(-5deg);*/
	animation-name: rotateHead;
	animation-duration: 6s;
	animation-delay: 1200ms;
	animation-iteration-count: infinite;
	transform-origin: 58% 53%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}




#playmobilFiveArm  {
	/*transform: rotate(-5deg);*/
	animation-name: rotateHead;
	animation-duration: 10s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 82% 58%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}





#playmobilArmPart  {
	/*transform: rotate(-5deg);*/
	animation-name: rotateHead;
	animation-duration: 6s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 80% 66%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}



#playmobilFiveHead  {
	transform: rotate(-20deg);
	animation-name: rotateHead;
	animation-duration: 6s;
	animation-delay: 1200ms;
	animation-iteration-count: infinite;
	transform-origin: 86% 56%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}





#engrenagens path:nth-of-type(1) {
	animation-name: totalRotate;
	animation-duration: 2s;
	/*animation-delay: 1200ms;*/
	animation-iteration-count: infinite;
	transform-origin: 77.45% 13.3%;
}


#engrenagens path:nth-of-type(2) {
	animation-name: totalRotate;
	animation-duration: 2.5s;
	/*animation-delay: 1200ms;*/
	animation-iteration-count: infinite;
	transform-origin: 82.67% 27.15%;
}






#exclamation {
	animation-name: floatThree;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	transform-origin: 82.67% 27.15%;
}



#bigPlaymobilArm {
	/*transform: rotate(-20deg);*/
	animation-name: rotateHead;
	animation-duration: 8s;
	animation-delay: 1200ms;
	animation-iteration-count: infinite;
	transform-origin: 51% 54%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}






#bigPlaymobilHead {
	transform: rotate(-20deg);
	animation-name: rotateTorso;
	animation-duration: 9s;
	animation-delay: 1200ms;
	animation-iteration-count: infinite;
	transform-origin: 44% 46%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}









#playmobilSevenArmOne {
	/*transform: rotate(-20deg);*/
	animation-name: rotateHead;
	animation-duration: 4s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 20% 65%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}






#playmobilSevenArm {
	/*transform: rotate(-20deg);*/
	animation-name: rotateHead;
	animation-duration: 7s;
	animation-delay: 400ms;
	animation-iteration-count: infinite;
	transform-origin: 15% 64%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}






#playmobilSevenTorso {
	/*transform: rotate(-20deg);*/
	animation-name: rotateHead;
	animation-duration: 10s;
	animation-delay: 400ms;
	animation-iteration-count: infinite;
	transform-origin: 19% 75%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}









#hetSitTorso {
	/*transform: rotate(-20deg);*/
	animation-name: rotateOneReverseLow;
	animation-duration: 5s;
	animation-delay: 400ms;
	animation-iteration-count: infinite;
	transform-origin: 61% 80%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}




#herSitLeg {
	/*transform: rotate(-20deg);*/
	animation-name: rotateHead;
	animation-duration: 7s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 70% 81%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}


#herSitArm {
	/*transform: rotate(-20deg);*/
	animation-name: rotateOneReverseLow;
	animation-duration: 6s;
	animation-delay: 800ms;
	animation-iteration-count: infinite;
	transform-origin: 59% 70%;
	/*animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}




#herSitArmCup {
	transform: rotate(-20deg);
	animation-name: rotateOneReverseLow;
	animation-duration: 6s;
	animation-delay: 300ms;
	animation-iteration-count: infinite;
	transform-origin: 63% 73%;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}



@keyframes rotateOneReverse {
	50% {
		transform: rotate(-14deg);
	}
}


@keyframes rotateOneReverseLow {
	50% {
		transform: rotate(-7deg);
	}
}




















#checksSvgs g:nth-of-type(1) {
	animation-name: inOutOne;
	animation-duration: 3s;
	animation-delay: 600ms;
	animation-iteration-count: infinite;
	transform-origin: 79% 24%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#checksSvgs g:nth-of-type(2) {
	animation-name: inOutOne;
	animation-duration: 5s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 63% 19%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



#checksSvgs g:nth-of-type(3) {
	animation-name: inOutOne;
	animation-duration: 4s;
	animation-delay: 1000ms;
	animation-iteration-count: infinite;
	transform-origin: 49% 14%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


#checksSvgs g:nth-of-type(4) {
	animation-name: inOutOne;
	animation-duration: 3s;
	animation-delay: 1200ms;
	animation-iteration-count: infinite;
	transform-origin: 36% 19%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#checksSvgs g:nth-of-type(5) {
	animation-name: inOutOne;
	animation-duration: 7s;
	animation-delay: 700ms;
	animation-iteration-count: infinite;
	transform-origin: 25% 11%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



#checksSvgs g:nth-of-type(6) {
	animation-name: inOutOne;
	animation-duration: 4s;
	animation-delay: 1500ms;
	animation-iteration-count: infinite;
	transform-origin: 13% 20%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}




#checksSvgs g:nth-of-type(7) {
	animation-name: inOutOne;
	animation-duration: 6s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 74% 12%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}










#animeBG {
	d:path('M421.8,316.8c-6.7-19.4-17.3-25.3-27.4-37.7c-12.3-15.2-20.6-26.2-17.4-45.7c5.2-31.9-4.6-70.4-71.2-75.2 c-29.5-2.2-55.8,1.1-72.6,24.2c-14.4,19.7-40.2,21.4-61,26C146.6,214,120.6,222.5,97,235c-48.7,25.7-63.2,62.7-61.2,110.1 c0.6,14.3,2.6,36.8,26,63.2c31.6,35.6,77.5,40.3,132.8,24c12.6-3.7,24.6-9.6,37.1-14c12.9-4.6,26.4-7.6,40-9 c31.7-3.2,64.6,2.6,95.1-7.2c16.1-5.2,30.9-14.6,42.5-27.2C423.7,359.1,428.9,337.2,421.8,316.8z');
	animation: morph 10s infinite;
}


@keyframes morph {
  0%, 100%{
    d:path('M421.8,316.8c-6.7-19.4-17.3-25.3-27.4-37.7c-12.3-15.2-20.6-26.2-17.4-45.7c5.2-31.9-4.6-70.4-71.2-75.2 c-29.5-2.2-55.8,1.1-72.6,24.2c-14.4,19.7-40.2,21.4-61,26C146.6,214,120.6,222.5,97,235c-48.7,25.7-63.2,62.7-61.2,110.1 c0.6,14.3,2.6,36.8,26,63.2c31.6,35.6,77.5,40.3,132.8,24c12.6-3.7,24.6-9.6,37.1-14c12.9-4.6,26.4-7.6,40-9 c31.7-3.2,64.6,2.6,95.1-7.2c16.1-5.2,30.9-14.6,42.5-27.2C423.7,359.1,428.9,337.2,421.8,316.8z');
  }
  50%{
    d:path('M433.8,318.7c0-20.5-3.3-44.7-18-62c-12.6-14.9-27.9-33.8-24.7-53.3c5.2-31.9-34-51.3-65.3-55.3   c-29.3-3.7-68.1,4.3-96,10.7c-35.3,8-39.3,7.3-92,16c-25.8,4.2-54.7,11.3-75.2,26.7c-44.1,33-50.2,77.9-39.5,124   c11.3,48.7,24.5,57.6,56,73.3c29.3,14.7,63.3,28,100.7,28.7c39.3,0.7,45.6-8.8,58.7-10.7c14.6-2,31.3,6.4,68,3.3   c31.8-2.6,32.9-3.6,63.3-13.3c16.1-5.2,30.4-13.4,42-26C426.3,365,433.8,336,433.8,318.7z');
  }
}





#animeBGPeopleTwo {
	d:path('M1387.1,352.3c50.3,118.6-10.1,160.1-125.2,181c-94,17.1-224.4,20.4-360.6,41 c-72.1,10.9-145.8,26.5-216.6,51.5c-93.7,33.1-185.4,47-268.7,45.8c-120.3-1.9-222.9-35.5-288.1-89c-47.8-39.2-75.5-89-75.5-144.9 c0-60.3,18.2-126.8,57.6-185.5c32.9-49,80.5-92.4,144.5-122.3c54.6-25.4,121-40.9,200.5-41.4c58.5-0.4,124,7.4,196.9,25.3 c104.2,25.6,197.9,34.5,281.3,39.6c108.9,6.7,200.5,6.9,275.3,29.3C1285.2,205.6,1344.5,251.8,1387.1,352.3z');
	animation: morphOne 15s infinite;
}


@keyframes morphOne {
  0%, 100%{
    d:path('M1387.1,352.3c50.3,118.6-10.1,160.1-125.2,181c-94,17.1-224.4,20.4-360.6,41 c-72.1,10.9-145.8,26.5-216.6,51.5c-93.7,33.1-185.4,47-268.7,45.8c-120.3-1.9-222.9-35.5-288.1-89c-47.8-39.2-75.5-89-75.5-144.9 c0-60.3,18.2-126.8,57.6-185.5c32.9-49,80.5-92.4,144.5-122.3c54.6-25.4,121-40.9,200.5-41.4c58.5-0.4,124,7.4,196.9,25.3 c104.2,25.6,197.9,34.5,281.3,39.6c108.9,6.7,200.5,6.9,275.3,29.3C1285.2,205.6,1344.5,251.8,1387.1,352.3z');
  }
  50%{
    d:path('M1387.1,352.3c50.3,118.6-25,239.6-140.1,260.5c-94,17.1-209.5-59.1-345.7-38.6 c-72.1,10.9-145.8,26.5-216.6,51.5c-93.7,33.1-185.4,47-268.7,45.8c-120.3-1.9-260.8-16.2-326-69.7 c-47.8-39.2-37.6-108.4-37.6-164.2c0-60.3,4.5-134.8,14.6-204.8c11-76,28-134.2,92-164c54.6-25.4,92.6-37.5,172-38 c58.5-0.4,248,65.1,320.9,83c104.2,25.6,197.5-61.5,281.1-64c133-4,235,42,308,75C1314,157.8,1344.5,251.8,1387.1,352.3z');
  }
}






#animeBGPeopleOne {
	d:path('M1384.9,437.6c0,96.2-60.1,144.5-172.9,168.6c-101.8,21.8-246.5,23.9-428.8,23.9 c-94.6,0-186.4,5.6-272.1,10c-116.5,6-221.5,10-306-4.9c-105.7-18.7-179.2-67-203-177.9C-10,401,31.5,334.9,106,270.7 c53.6-46.2,124.4-91.4,204.5-131.2c85.2-42.3,181.1-78.6,278.4-103.5C677.4,13.3,767,0,851,0c138.9,0,247.2,33.3,328.8,84.4 c67.7,42.4,117,97.1,150.3,155.3C1367.7,305.4,1384.9,375.6,1384.9,437.6z');
	animation: morphTwo 7s infinite;
}


@keyframes morphTwo {
  0%, 100%{
    d:path('M1384.9,437.6c0,96.2-60.1,144.5-172.9,168.6c-101.8,21.8-246.5,23.9-428.8,23.9 c-94.6,0-186.4,5.6-272.1,10c-116.5,6-221.5,10-306-4.9c-105.7-18.7-179.2-67-203-177.9C-10,401,31.5,334.9,106,270.7 c53.6-46.2,124.4-91.4,204.5-131.2c85.2-42.3,181.1-78.6,278.4-103.5C677.4,13.3,767,0,851,0c138.9,0,247.2,33.3,328.8,84.4 c67.7,42.4,117,97.1,150.3,155.3C1367.7,305.4,1384.9,375.6,1384.9,437.6z');
  }
  50%{
    d:path('M1384.9,437.6c0,96.2-57.1,187.3-169.9,211.4c-101.8,21.8-249.7-75-432-75 c-94.6,0-174,48-271.9,66.1C396.4,661.3,278.5,673.9,194,659C88.3,640.3,29,610,21,511c-4.6-57.4,27.5-128.8,102-193 c53.6-46.2,34.9-180.2,115-220c85.2-42.3,192-59,350.9-62C722,32,770,56,854,56c138.9,0,245-34,337,11 c71.8,35.1,135.7,102.8,169,161C1397.6,293.7,1384.9,375.6,1384.9,437.6z');
  }
}









































/*aminações icone 2*/

#window1 {
	animation-name: floatLeft;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transform: translateX(-20px);
}



#window2 {
	animation-name: float;
	animation-duration: 5s;
	animation-delay: 200ms;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}



#window3 {
	animation-name: float;
	animation-duration: 2s;
	animation-delay: 500ms;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}



#womanTwo {
	animation-name: rotateTorso;
	animation-duration: 10s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 36% 76%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);	
}



#womanTwoLegAmin {
	animation-name: rotateLeg;
	animation-duration: 4s;
	animation-delay: 700ms;
	animation-iteration-count: infinite;
	transform-origin: 35% 87%;
	animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);	
}


#womanTwoTop {
	animation-name: rotateOne;
	animation-duration: 10s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 36% 76%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);	
}



#womanTwoArm {
	animation-name: rotateTwo;
	animation-duration: 6s;
	animation-delay: 400ms;
	animation-iteration-count: infinite;
	transform-origin: 34% 69%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



#womanTwoHead {
	animation-name: rotateThree;
	animation-duration: 9s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 33% 67%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);	
}






#menThreeTop {
	animation-name: rotateTorso;
	animation-duration: 7s;
	animation-delay: 400ms;
	animation-iteration-count: infinite;
	transform-origin: 80% 77%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transform: rotate(-3deg);
}



#menThreeHead {
	animation-name: rotateThree;
	animation-duration: 4s;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	transform-origin: 83% 65%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);	
}




#menThreeLeftArm {
	animation-name: rotateOne;
	animation-duration: 7s;
	animation-delay: 400ms;
	animation-iteration-count: infinite;
	transform-origin: 82% 69%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transform: rotate(-3deg);
}



#menThreeRightArm {
	animation-name: rotateOneReverse;
	animation-duration: 7s;
	animation-delay: 400ms;
	animation-iteration-count: infinite;
	transform-origin: 84% 70%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transform: rotate(3deg);
}




#menTreePage {
	animation-name: floatOne;
	animation-duration: 7s;
	animation-delay: 400ms;
	animation-iteration-count: infinite;
	transform-origin: 84% 70%;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}